@model IEnumerable<WebApp.Models.News>

@{
    ViewBag.Title = "Search News";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}

<h2>Search News</h2>

<p>
    @Html.ActionLink("Add News", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContentDetail.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentDetail.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsDate)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContentDetail.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentDetail.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NewsID }) |
            @Html.ActionLink("Details", "Details", new { id = item.NewsID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NewsID })
        </td>
    </tr>
}

</table>
